.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80vw;
}

.matchAndScoreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 1rem;
  padding-top: 1rem;
  flex-wrap: wrap;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}
