.container {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
